<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>email</param-name>
        <param-value>support@example.com</param-value>
    </context-param>
    <context-param>
        <param-name>cm</param-name>
        <param-value>180</param-value>
    </context-param>
    <context-param>
        <param-name>kg</param-name>
        <param-value>80</param-value>
    </context-param>
    <servlet>
        <servlet-name>PathToServlet</servlet-name>
        <servlet-class>com.example.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BmiServlet</servlet-name>
        <servlet-class>com.example.BmiServlet</servlet-class>
        <init-param>
            <param-name>cm</param-name>
            <param-value>162</param-value>
        </init-param>
        <init-param>
            <param-name>kg</param-name>
            <param-value>63</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BmiJsp</servlet-name>
        <jsp-file>/BmiJsp.jsp</jsp-file>
        <init-param>
            <param-name>cm</param-name>
            <param-value>177</param-value>
        </init-param>
        <init-param>
            <param-name>kg</param-name>
            <param-value>77</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathToServlet</servlet-name>
        <url-pattern>/PathToServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BmiServlet</servlet-name>
        <url-pattern>/BmiServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BmiJsp</servlet-name>
        <url-pattern>/BmiJsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
